.desna-stran {
	float:right;
	clear: right;
	margin-top:6px;
	width: 65px;
	text-align: center;
}

header{
	min-height: 42px;
}

body{
	margin:0;
}

.isci{
	float:right;
	margin-right:5%;
}

.centered-content {
	padding-right: 5%;
	padding-left: 5%;
}

li{
	margin:0;
}

.kategorije li{
	padding: 10px 15px;
	text-decoration:none;
}

header{
	background: -webkit-linear-gradient(left, #FFFFFF, #E2EAF3, #1464f6); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #FFFFFF, #E2EAF3, #1464f6); /* Standard syntax */
	width: 100%;
}

footer {
	background-color:#1464f6;
	margin-top: 1%;
	padding: 15px;
	text-align: center;
}

#main {
	flex-grow:1;
	display:flex;
}
nav {
	padding-left: 2%;
	width: 22%;
	box-sizing:border-box;
	border-right:2px solid lightblue;
	float: left;
}

nav h3{
	border-bottom:1px solid lightgray;
	padding-top:2%;
}

ul {
	list-style-type: none;
	display: block;
}
li {
	display: inline;
}

section,
.sect{
	width: 75%;
	float: left;
}
.prva{
	width: 96%;
	text-align: center;
	margin-bottom: 150px;
}

.item-grid{
	width: 23%;
	float: left;
	padding-left: 2%;
	padding-top: 2%;
	text-align: center;
}

.slika img,
.item-grid img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 90%;
	
}

.vsebina{
	float: right;
	width: 80%;
}

.lnki{
	
}

.meniji img{
	vertical-align: middle;
}

.meniji a,
.kategorije a,
footer a {
    padding: 10px 11px;
    text-decoration: none;
    font-size: 15px;
    color:black;
	background-color:#E2A9F3;
	border-radius: 5px;
	margin-left:2%;
}

.meniji a:hover,
footer a:hover,
.kategorije a:hover {
    background-color: #B6B6B6;
}

button{
	border-radius:5px;
	background-color: lightblue; 
}
#map{
	width: 150px;
	font-size: 17px;
	padding: 1% 2%;
}

.price{
	color: green;
	font-weight: bold;
	font-size: 150%;
}

.item-do label{
	width: 35%;
	float: left;
	color: green;
	font-size: 150%;
	font-weight: bold;
}
.item-do button{
	float: left;
	width: 35%;
}

.item-do span{
	float: left;
	width: 20%;
	font-weight: bold;
	text-align: center;
}
#komentar img{
	width: 15px;
}
.skrit{
	display:none;
}
.popup{
	display: block;
	position: absolute;
	float: left;
	z-index: 10;
	width: 200px;
	background-color:yellow;
	border: 1px solid black;
	border-radius:10px;
	box-shadow: 5px 5px 5px grey;
}

.izbira,
.opis{
	border: 1px dotted black;
	border-radius: 10px;
	padding: 2%;
	margin: 1%;
}

.izbira button{
	font-size: 160%;
	width: 50%;
}

.login{
	padding: 10%;
	float: left;
	margin-left: 40%;
	border: 1px dotted black;
	border-radius: 10px;
	margin-bottom: 70px;
	background-color: lightgray;
}
nav label,
.login label,
.izbira lable{
	float: left;
	clear: left;
	width: 150px;
	margin-top: 7%;
}
.login input,
.login select{
	float:left;
	margin-top: 7%;
	width: 150px;
}

.cena{
	width: 75%;
}

.nakonc {
	background-color:#1464f6;
    position:fixed;
    bottom:0;
    width: 100%;
}

.slika,
.izdelek {
	float: left;
	padding-top: 5%;
	padding-left: 5%;
	width:42%;
}

.podatki{
	float: left;
	padding-left: 20%;
	text-align: left;
	width: 100%;
}

.inf{
	float:left;
	width: 45%;
}
.zemljevid{
	float:left;
	width:45%;
}

#icon{
	display:none;
}

#maps{
	margin-bottom: 100px;
	margin-top:2%;
}
#maps img{
	width: 100%;
}

.gumbek {
	background-color: lightblue;
	font-size: 160%;
	width: 100%;
	padding: 10%;
	border-radius: 10px;
	float: right;
	margin-left: 100%;
}

#kupljeno{
	background: lightgreen;
	border-radius: 5px;
	padding: 1%;
}

@media screen
  and (max-width: 1300px){
	  .kategorije li{
			display: none;
	  }
	  .item-grid{
			width: 46%;
	  }
	  .izdelek{
		  margin-bottom: 100px;
	  }
  }
  
@media screen
  and (max-width: 930px){

	  .resp{
		  display: none;
		  float:right;
		  clear:both;
		  background: lightblue;
	  }
	  .drpdwn{
		  display: inline;
		  float:right;
		  clear:both;
		  padding-bottom:20px;
		  width: 120px;
	  }
	  .drpdwn li{
		  float: right;
		  clear: right;
		  padding: 10px 11px;
		  
	  }
	  .drpdwn li:first-child{
		  padding-top: 60%;
	  }

	  #icon{
		  float: right;
		  display: inline-block;
		  position: absolute;
		  right: 0;
	  }
	  
	  .meniji img{
		  width: 16%;
		  min-height:42px;
	  }
	  .meniji a{
		  width: 75px;
		  float: right;
		  clear: right;
	  }
	  .isci{
		  position: absolute;
		  top: 25px;
		  padding-left: 5%;
	  }
	  .centered-content {
		padding:0;
	  }
	  ul{
		  padding-left:0;
	  }
	  
	  #icon{
		  width: auto;
	  }
  }

@media screen
  and (max-width: 720px){
	  nav{
		  display: none;
	  }
	  section,
	  .sect{
		  width:96%;
	  }
	  .item-grid{
			width: 96%;
	  }
	  
  }
  
@media screen
  and (min-width: 414px) {
    
}
@media screen
  and (min-width: 1024px) {
/*    nav li {
 	  float:none;
    }
	#main {
		flex-flow:row;
	}*/
}

