.desna-stran {
	float:right;
	clear: right;
	
}

body{
	margin:0;
}

.isci{
	float:right;
	margin-right:5%;
}

.centered-content {
	padding-right: 5%;
	padding-left: 5%;
}

.kategorije li{
	background-color: #E2EAF3;
	padding: 10px 15px;
	text-decoration:none;
}

header{
	background: -webkit-linear-gradient(left, #FFFFFF, #E2EAF3, #1464f6); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #FFFFFF, #E2EAF3, #1464f6); /* Standard syntax */
	width: 100%;
}

footer {
	background-color:#1464f6;
	margin-top: 1%;
	padding: 15px;
	text-align: center;
}

#main {
	flex-grow:1;
	display:flex;
}
nav {
	padding-left: 5%;
	width: 22%;
	padding-top: 2%;
	box-sizing:border-box;
	border-right:2px solid lightblue;
	float: left;
}

ul {
	list-style-type: none;
	display: block;
}
li {
	display: inline;
}

section,
.sect{
	width: 75%;
	float: left;
}
.prva{
	width: 96%;
	text-align: center;
	margin-bottom: 100px;
}

.item-grid{
	width: 23%;
	float: left;
	padding-left: 2%;
	padding-top: 2%;
	text-align: center;
}

.item-grid img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 90%;
	
}

.vsebina{
	float: right;
	width: 80%;
}

.lnki{
	
}

.meniji img{
	vertical-align: middle;
}

.meniji a,
.kategorije a,
footer a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 15px;
    color:black;
}

.meniji a:hover,
footer a:hover,
.kategorije a:hover {
    background-color: #B6B6B6;
}



.item-do label{
	width: 35%;
	float: left;
	color: green;
	font-size: 150%;
	font-weight: bold;
}
.item-do button{
	float: left;
	width: 35%;
}

.item-do span{
	float: left;
	width: 20%;
	font-weight: bold;
	text-align: center;
}
.login{
	padding-top: 10%;
	float: left;
	margin-left: 40%;
}
.login label,
.izbira lable{
	float: left;
	clear: left;
	width: 120px;
}
.login input,
.login select{
	float:left;
}

.nakonc {
	background-color:#1464f6;
    position:fixed;
    bottom:0;
    width: 100%;
}

.slika,
.izdelek {
	float: left;
	padding-top: 5%;
	padding-left: 5%;
}

.podatki{
	float: left;
	padding-left: 20%;
	text-align: left;
}

#map{
	width: 100%;
	height: 400px;
	background-color: grey;
	margin-bottom: 100px;
}

.topnav{
	display:none;
	float:right;
	margin:0;
	padding:0;
}

@media screen
  and (max-width: 1200px){
	  .kategorije li{
			display: none;
	  }
	  .item-grid{
			width: 46%;
	  }
	  .izdelek{
		  margin-bottom: 100px;
	  }
  }
  
@media screen
  and (max-width: 840px){
	  .resp{
		  display: none;
	  }
	  .meniji img{
		  width: 16%;
	  }
	  .isci{
		  vertical-align:middle;
	  }
	  .topnav{
		  display: inline;
	  }
	  ul.topnav li:not(:first-child) {display: none;}
	  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  }

@media screen
  and (max-width: 720px){
	  nav{
		  display: none;
	  }
	  section,
	  .sect{
		  width:96%;
	  }
	  .item-grid{
			width: 96%;
  }
  
@media screen
  and (min-width: 414px) {
    
}
@media screen
  and (min-width: 1024px) {
/*    nav li {
 	  float:none;
    }
	#main {
		flex-flow:row;
	}*/
}