
header{
	background: -webkit-linear-gradient(left, #FFFFFF, #C4DEF3, #1464f6); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #FFFFFF, #C4DEF3, #1464f6); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #FFFFFF, #C4DEF3, #1464f6); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #FFFFFF, #C4DEF3, #1464f6); /* Standard syntax */
	height: 100px;
	width: 100%;
/*	border-bottom-style: ridge;
	border-bottom-color: #000000;*/
}

.allign-left{
	float: left;
}

.allign-left span{
	width: 42%;
	padding-bottom: 5%;
}

.allign-left img{
	height: 100px;
	padding-left: 5%;
}

.opis{
	float: left;
	clear: left;
	padding-left: 5%;
}

.allign-right{
	float: right;
	padding-right: 5%;
}

.kategorije{
	float: left;
	padding-left: 5%;
	width: 15%;
	padding-top: 2%;
    border-right: thick solid #000000;
}

.item-grid{
	width: 23%;
	float: left;
	padding-left: 2%;
	padding-top: 2%;
	text-align: center;
}

.item-grid img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 300px;
    height: auto;
	
}

.vsebina{
	float: right;
	width: 80%;
}
.vsebina2{
	float: right;
	width: 100%;
	padding-top: 5%;
}

.vozicek {
	padding-top: 5%;
	text-align: center;
	float: left;
	margin-left: 10%;
}
.vozicek input{
	
}

.reklame{
	padding-top: 5%;
	float: right;
	margin-right: 20%;
}
.reklame img{
	width: 320px;
}

ul {
	list-style-type: none;
	display: block;
}
li {
	display: inline;
}

.vozicek form input{
	float:left;
}

footer{
	clear:both;
}

article form label {
  float:left;
  width:120px;
  clear:left;
  padding-top:5%;
}
article form input,
article form select{
	float: left;
}

