header{
	min-height: 42px;
}

body{
	margin:0;
}

header{
	background: -webkit-linear-gradient(left, #FFFFFF, #E2EAF3, #1464f6); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #FFFFFF, #E2EAF3, #1464f6); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #FFFFFF, #E2EAF3, #1464f6); /* Standard syntax */
	width: 100%;
}

footer {
	background-color:#1464f6;
	margin-top: 1%;
	padding: 15px;
	text-align: center;
}

nav {
	padding-left: 2%;
	width: 22%;
	box-sizing:border-box;
	border-right:2px solid lightblue;
	float: left;
}

nav h3{
	border-bottom:1px solid lightgray;
	padding-top:2%;
}

ul {
	list-style-type: none;
	display: block;
}
li {
	display: inline;
	margin:0;
}

.kategorije li{
	padding: 10px 15px;
	text-decoration:none;
}

button{
	border-radius:5px;
	background-color: lightblue; 
}

#main {
	flex-grow:1;
	display:flex;
}

section,
.sect{
	width: 75%;
	float: left;
}
.prva{
	width: 96%;
	text-align: center;
	margin-bottom: 150px;
}

.centered-content {
	padding-right: 5%;
	padding-left: 5%;
}

.vsebina{
	float: right;
	width: 80%;
}

noscript{
	color: red;
	font-size: 20;
	width: 100%;
}

.desna-stran {
	float:right;
	clear: right;
	margin-top:6px;
	width: 100px;
	text-align: center;
}

.desna-stran img{
	padding-left: 2%;
	float: left;
	height: 20px;
	padding:0;
	margin:0;
	width: auto;
}

.isci{
	float:right;
	margin-right:5%;
}
.nslv{
    padding-left: 3%;
}
.urediizd{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}
.narocilo button{
    float:right;
}

.opis button{
	font-size: 15px;
	float: right;
	width:30%;
}
.gumbek {
	background-color: lightblue;
	font-size: 160%;
	width: 100%;
	padding: 10%;
	border-radius: 10px;
	float: right;
	margin-left: 100%;
}
.gumbek2,
.admingmb{
	background-color: lightblue;
	font-size: 160%;
	width: 100%;
	padding: 5%;
	border-radius: 10px;
	float: right;
	margin-bottom: 10%;
}

.item-grid{
	width: 23%;
	float: left;
	padding-left: 2%;
	padding-top: 2%;
	text-align: center;
}

.slika img,
.item-grid img{
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
	width: 90%;
	
}


.lnki{
	
}

.meniji img{
	vertical-align: middle;
}

.meniji a,
.kategorije a,
footer a {
    padding: 10px 11px;
    text-decoration: none;
    font-size: 15px;
    color:black;
	background-color:lightgray;
	border-radius: 5px;
	margin-left:2%;
}

.meniji a:hover,
footer a:hover,
.kategorije a:hover {
    background-color: gray;
	color: white;
}

.price{
	color: green;
	font-weight: bold;
	font-size: 150%;
}

.item-do label{
	width: 35%;
	float: left;
	color: green;
	font-size: 150%;
	font-weight: bold;
}
.item-do button{
	float: left;
	width: 35%;
	font-size: 17px;
}

.item-do span{
	float: left;
	width: 20%;
	font-weight: bold;
	text-align: center;
}
#komentar img{
	width: 20px;
}
.skrit{
	display:none;
}
.popup{
	display: block;
	position: absolute;
	float: left;
	z-index: 10;
	width: 200px;
	background-color:yellow;
	border: 1px solid black;
	border-radius:10px;
	box-shadow: 5px 5px 5px grey;
}

.izbira,
.opis{
	border: 1px dotted black;
	border-radius: 10px;
	padding: 2%;
	margin: 1%;
}
.urediizd button{
        font-size: 160%;
	width: 25%;
}
.izbira button{
	font-size: 160%;
	width: 50%;
}

.login{
	padding: 10%;
	float: left;
	margin-left: 30%;
	border: 1px dotted black;
	border-radius: 10px;
	margin-bottom: 70px;
	background-color: lightgray;
	width: 22%;
}
.kosara{
	padding-left: 4%;
        padding-right: 4%;
	float: left;
	margin-left: 5%;
	border: 1px dotted black;
	border-radius: 10px;
	margin-bottom: 70px;
	background-color: lightgray;
	width: 36%;
}
.dta{
        float: left;
	clear: left;
	margin-top: 7%;
        width: 150px;
}
.dtalev{
    float: left;
    margin-top: 7%;
}
.kosara input{
        float: left;
}

.kosara input{
    float:left;
	margin-top: 7%;
	width: 100%;
}
nav label,
.login label,
.izbira lable{
	float: left;
	clear: left;
	width: 150px;
	margin-top: 7%;
}
.login input,
.login select{
	float:left;
	margin-top: 7%;
	width: 150px;
}

.cena{
	width: 75%;
}
.cena2{
        width: 35%;
	color: green;
	font-size: 150%;
	font-weight: bold;
}

.nakonc {
	background-color:#1464f6;
        position:fixed;
        bottom:0;
        width: 100%;
}

.slika,
.izdelek {
	float: left;
	padding-top: 5%;
	padding-left: 5%;
	width:42%;
}

.oiz{
	float: left;
	width: 100%;
}

.podatki{
	float: left;
	padding-left: 20%;
	text-align: left;
	width: 100%;
}

.inf{
	float:left;
	width: 45%;
}
.zemljevid{
	float:left;
	width:45%;
}

#icon{
	display:none;
}

#map{
	width: 150px;
	font-size: 17px;
	padding: 1% 2%;
}

#maps{
	margin-bottom: 100px;
	margin-top:2%;
}
#maps img{
	width: 100%;
}

#vkosari{
	margin-right:15%;
	float: right;
	color: white;
	background: red;
	border-radius: 20px;
	font-weight: bold;
	padding-left: 5%;
	padding-right: 5%;
}

#kupljeno{
	background: lightgreen;
	border-radius: 5px;
	padding: 1%;
}


#novvnos{
	width: 60%;
}

#main2 {
    margin-right: auto;
    width: 70%;
}

.update-cart {
    width: 30px;
}

.important {
    color: red;
} 

.izdelek2 {
    display: inline-block;
    text-align: center;
    width: 200px;
    min-height: 160px;
    margin: 1em;
    border: 1px solid black;
    vertical-align: top;
}

#vozicek2 {
    padding: 1em;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: #E8E8E8;
    min-width: 30%;
    margin-top: 116px;
}

@media screen
  and (max-width: 1300px){
	  .kategorije li{
			display: none;
	  }
	  .item-grid{
			width: 46%;
	  }
	  .izdelek{
		  margin-bottom: 100px;
	  }
  }
  
@media screen
  and (max-width: 930px){

	  .resp{
		  display: none;
		  float:right;
		  clear:both;
		  background: blue;
	  }
	  .drpdwn{
		  display: inline;
		  float:right;
		  clear:both;
		  padding-bottom:20px;
		  width: 120px;
	  }
	  .drpdwn li{
		  float: right;
		  clear: right;
		  padding: 10px 11px;
		  
	  }
	  .drpdwn li:first-child{
		  padding-top: 60%;
	  }
	  .kosara{
		  width: 70%;
	  }

	  #icon{
		  float: right;
		  display: inline-block;
		  position: absolute;
		  right: 0;
		  width: auto;
	  }
	  #kos{
		  width:30px;
	  }
	  .meniji img{
		  width: 16%;
		  min-height:42px;
	  }
	  .meniji a{
		  width: 75px;
		  float: right;
		  clear: right;
	  }
	  .isci{
		  position: absolute;
		  top: 25px;
		  padding-left: 5%;
	  }
	  .centered-content {
		padding:0;
	  }
	  ul{
		  padding-left:0;
	  }
	  
	  .slika,
	  .izdelek{
		  clear:both;
		  width:95%;
	  }
	  .opis button,
	  .zemljevid{
		  clear:both;
	  }
  }

@media screen
  and (max-width: 720px){
	  nav{
		  display: none;
	  }
	  section,
	  .sect{
		  width:96%;
	  }
	  .item-grid{
			width: 96%;
	  }
	  
  }
  
@media screen
  and (min-width: 414px) {
    
}
@media screen
  and (min-width: 1024px) {
/*    nav li {
 	  float:none;
    }
	#main {
		flex-flow:row;
	}*/
}

